<template>
  <div class="Auth">
  <h1>{{ $t('enterEmail') }}</h1>
    <el-form v-on:submit.prevent="submitForm" :disabled="isProcessingLogin" :model="signinForm" :rules="rules" status-icon ref="signinForm" class="signin-form">
      <el-form-item :label="$t('email') + ': '" prop="email">
        <el-input v-model.number="signinForm.email" :placeholder="$t('emailPlaceholder')"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="submitForm('signinForm')">{{ $t('submit') }}</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'Auth',
  data() {
    return {
      signinForm: {
        email: '',
        firstName: '',
        lastName: '',
      },
      rules: {
        email: [
          { required: true, message: this.$t('emailRequired'), trigger: 'blur' },
          { type: 'email', message: this.$t('enterValidEmail'), trigger: 'blur' }
        ],
        firstName: [
          { required: true, message: this.$t('emailRequired'), trigger: 'blur' },
          { message: this.$t('enterValidEmail'), trigger: 'blur' }
        ],
        lastName: [
          { required: true, message: this.$t('emailRequired'), trigger: 'blur' },
          { message: this.$t('enterValidEmail'), trigger: 'blur' }
        ]
      },
    }
  },
  methods: {
    submitForm() {
      this.$store.dispatch('auth/login', this.signinForm)
    }
  },
  computed: {
    isProcessingLogin () {
      return this.$store.state.auth.isProcessingLogin
    }
  }
})
</script>

<style scoped>
.signin-form {
  max-width: 400px;
  margin: auto;
}
.auth {
  min-width: 200px;
  margin: auto;
  padding-top: 75px;
}
</style>
