<template>
  <div class="dashboard">
    <h3>{{ $t('ifYouSeeThis', { email })}}</h3>
    <el-button type="primary" @click="logout">{{ $t('logout') }}</el-button>
    <el-button type="primary" @click="resetTutorial">{{ $t('resetTutorial') }}</el-button>
    <div  class="selectCompanyContainer">
      <h3 v-if="!companyId">{{ $t('selectAccountType')}}</h3>
      <h3 v-else>{{ $t('changeAccountType', { companyName })}}</h3>
      <el-button type="primary" @click="becomeBuyer">{{ $t('buyer') }}</el-button>
      <el-button type="primary" @click="becomeSeller">{{ $t('seller') }}</el-button>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'Dashboard',
  methods: {
    logout() {
      this.$store.dispatch('auth/logout')
    },
    becomeBuyer() {
      this.$store.dispatch('auth/becomeCompanyType', { type: 'buyer', id: this.$store.state.auth.userInfo?.id })
    },
    becomeSeller() {
      this.$store.dispatch('auth/becomeCompanyType', { type: 'seller', id: this.userInfo?.id })
    },
    resetTutorial() {
      this.$store.dispatch('auth/updateUserTutorial', { id: this.userInfo?.id, tutorialCompleted: false })
    }
  },
  computed: {
    companyName() {
      console.log('companyId', this.companyId)
      return this.companyId === 1 ? 'BuyerCompany' : 'SellerCompany'
    },
    ...mapState({
      user: state => state.auth.userAuth,
      userInfo: state => state.auth.userInfo,
      email: state => state.auth.userAuth?.email ?? '',
      companyId: state => state.auth.userInfo?.companyId,
    })
  }
}
</script>

<style scoped>
div {
  padding-top: 100px
}

h3 {
  margin-bottom: 20px
}
</style>
