<template>
  <PageContainer :title="$t('myDocuments')">
    <h3>I know this design is terrible... I didn't have time to worry about design</h3>
    <div>
      <div id="container">

        <p style="font-size: 28px">{{ $t('uploadFiles')}}</p>
        <el-input :placeholder="$t('transactionId')" value="transactionId" v-model="transactionName" :oninput="removeErrors" />
        <el-upload
          data-v-step="1"
          :class="['upload-demo', !transactionName.length ? 'disabled' : '', { active: this.activeStep === 0 }]"
          :disabled="!transactionName.length"
          drag
          action="http://localhost:3000/upload"
          multiple
          :beforeUpload="beforeUpload"
          :show-file-list="false"
          :body="uploadData"
          :http-request="request"
        >

          <font-awesome-icon icon="cloud-upload-alt" class="el-icon--upload" />
          <div class="el-upload__text">
            Drop file here or <em>click to upload</em>
          </div>
          <template #tip>
            <div class="el-upload__tip">
              <p>pdf files only. enter transaction id to upload</p>
            </div>
          </template>
        </el-upload>

        <div style="color: red" class="el-alert--warning">
          {{ this.errorText }}
        </div>

        <pdf style="width: 300px; margin: auto;" :error="error" :src="this.justUploadedFile" :page="1" v-if="this.justUploadedFile" :scale.sync="scale"
             :annotation="true"
             :resize="true" class="pdf">
          <template slot="loading">
            <h1>loading content here...</h1>
          </template>
        </pdf>
      </div>

      <div data-v-step="2" :class="{ active: this.activeStep === 1 }" style="max-width: 450px; margin: auto">
        <h1 style="font-size: 28px; margin-top: 35px">{{ $t('viewFiles')}}</h1>
        <h1 style="font-size: 14px; margin-top: 10px">{{ $t('clickFilePreviewToDownload')}}</h1>
      </div>
      <div>
        <ul>
          <li
            style="padding: 20px"
            v-for="(file, index) in pdfFileInfos"
            @click="showPreviewIndex = showPreviewIndex === index ? undefined : index"
            :key="index"
          >
            <h2 style="cursor: pointer; text-overflow: clip" >{{ $t('fileName') }}: {{ file.name }}</h2>
            <h3 style="cursor: pointer; text-overflow: clip" >{{ $t('transaction') }}: {{ file.transactionId }}</h3>
            <pdf style="width: 300px; margin: auto; cursor: pointer" :src="file.url" :page="1" v-if="file.url && index === showPreviewIndex" :scale.sync="scale"
                 :annotation="true"
                 @click.stop="downloadFile(file.name)"
                 :resize="true" class="pdf">
              <template slot="loading">
                <h1>loading content here...</h1>
              </template>
            </pdf>
          </li>
        </ul>
      </div>
    </div>
    <v-tour name="documentsTour" :steps="tour" :callbacks="callbacks"></v-tour>

  </PageContainer>
</template>

<script>
import pdf from 'pdfvuer'
import PageContainer from '@/components/PageContainer'
import UploadService from '@/services/UploadFilesService'
import { mapState } from 'vuex'

export default {
  name: 'Documents',
  components: {
    PageContainer,
    pdf
  },
  data() {
    return {
      justUploadedFile: '',
      fileInfos: [],
      uploadData: null,
      scale: 'page-width',
      showPreviewIndex: undefined,
      transactionName: '',
      errorText: '',
      tour: [
        {
          target: '[data-v-step="1"]',  // We're using document.querySelector() under the hood
          header: {
            title: 'Upload',
          },
          content: 'Upload documents here. You must enter a valid transaction id'
        },
        {
          target: '[data-v-step="2"]',  // We're using document.querySelector() under the hood
          header: {
            title: 'Documents',
          },
          content: 'See more information on your documents. Click on one to get see a preview and click on the image to download the file'
        },
      ],
      callbacks: {
        onPreviousStep: this.previousStepCallback,
        onNextStep: this.nextStepCallback,
        onFinish: this.finish,
        onSkip: this.finish
      },
      activeStep: undefined
    }
  },
  mounted() {
    this.getFiles()

    if (this.userInfo?.tutorialCompleted === false && !this.completedDocumentsTutorial) {
      this.$tours['documentsTour'].start()
      this.activeStep = 0
    }
  },
  methods: {
    getFiles() {
      UploadService.getFiles(this.userInfo?.id).then(response => {
        this.fileInfos = response.data?.reverse()
      })
    },

    removeErrors() {
      this.errorText = ''
    },

    beforeUpload() {
      this.justUploadedFile = ''
      this.removeErrors()
    },

    async request(file) {
      try {
        const publicUrl = await UploadService.upload(file.file, uploadData, event => {
        })
        const uploadData = {
          userId: this.userInfo?.id,
          name: file.file.name,
          transactionName: this.transactionName,
          publicUrl: publicUrl.data.url
        }
          const res = await UploadService.saveFilePath(uploadData)

          if (res === 'Transaction Id not found') this.errorText = res
          else this.justUploadedFile=publicUrl.data.url
      } catch (e) {
        if (e?.error) this.errorText = e.error
      } finally {
          this.getFiles()
      }
    },

    async downloadFile(name) {
      await UploadService.getFile(name)
    },
    previousStepCallback (currentStep) {
      this.activeStep = currentStep - 1
    },
    nextStepCallback (currentStep) {
      this.activeStep = currentStep + 1
    },
    finish() {
      this.activeStep = undefined
      this.$store.commit('auth/setCompletedDocumentsTutorial', true)
      this.$store.dispatch('auth/updateUserTutorial', { id: this.userInfo?.id })
    },
  },
  computed: {
    pdfFileInfos() {
      return this.fileInfos.filter(item => !item.name.toLowerCase().endsWith('.png'))
    },
    userInfo() {
      return this.$store.state.auth.userInfo
    },
    ...mapState({
      completedDocumentsTutorial: state => state.auth.completedDocumentsTutorial
    })
  }
}
</script>

<style lang="scss" scoped>
.active {
  border: 1px $tertiary-color solid;
  border-radius: 0.8rem;
  opacity: 1;
  outline: #0096FF solid 2px
}

#container, li {
  padding: 20px;
  max-width: 450px;
  margin: auto;
  border: 2px solid $tertiary-color;
  border-radius: 15px;
}

li {
  margin-top: 20px;
}

.upload-demo {
  margin: 10px;
}

.disabled {
  opacity: .6;
}
</style>
