<template>
  <h1 style="margin: 25px">{{ $t('enterName') }}</h1>
  <el-form v-on:submit.prevent="submitForm" :disabled="isProcessingLogin" :model="signupForm" :rules="rules" status-icon ref="signupForm" class="signup-form">
    <el-form-item  prop="firstName">
      <el-input v-model.number="signupForm.firstName" :placeholder="$t('firstName')"></el-input>
    </el-form-item>
    <el-form-item prop="lastName">
      <el-input v-model.number="signupForm.lastName" :placeholder="$t('lastName')"></el-input>
    </el-form-item>
      <el-button type="primary" @click="submitForm('signupForm')">{{ $t('submit') }}</el-button>
      <el-button type="primary" @click="logout">{{ $t('logout') }}</el-button>
  </el-form>
</template>

<script>
export default {
  name: 'Signup',
  data() {
    return {
      signupForm: {
        firstName: '',
        lastName: '',
      },
      rules: {
        firstName: [
          { required: true, message: this.$t('emailRequired'), trigger: 'blur' },
          { message: this.$t('enterValidEmail'), trigger: 'blur' }
        ],
        lastName: [
          { required: true, message: this.$t('emailRequired'), trigger: 'blur' },
          { message: this.$t('enterValidEmail'), trigger: 'blur' }
        ]
      },
    }
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.$store.dispatch('auth/completeSignup', { fullName: this.signupForm, email: this.$store.state.auth.userAuth?.email })
        } else {
          console.error('error submit!!')
          return false
        }
      })
    },
    logout() {
      this.$store.dispatch('auth/logout')
    }
  },
  computed: {
    isProcessingLogin () {
      return this.$store.state.auth.isProcessingLogin
    }
  }
}
</script>

<style scoped>
.signup-form {
  max-width: 400px;
  margin: auto;
}
</style>
