<template>
  <PageContainer :title="$t('overview')">
    <div>
    <el-row data-v-step="1" :class="['section', { active: this.activeStep === 0 }]" style="margin-bottom: 20px" :gutter="20">
      <SummaryBadge :span="6" :summaryMainText="newOrders" summarySubText="New orders" icon="cart-plus" />
      <SummaryBadge :span="6" :summaryMainText="processedOrders" summarySubText="Orders in process" icon="clipboard-list" />
      <SummaryBadge :span="6" :summaryMainText="shippedOrders" summarySubText="Orders in shipping" icon="ship" />
      <SummaryBadge :span="6" :summaryMainText="completedOrders" summarySubText="Arrived and rated" icon="truck" />
    </el-row>

    <el-row class="section">
      <el-col :span="3">
        <h3>Last Orders</h3>
      </el-col>
      <el-col :span="18">
      </el-col>
      <el-col :span="3">
      </el-col>
    </el-row>
    <el-table data-v-step="2" :class="{ active: this.activeStep === 1 }" @row-click="rowClick" align="center" class="section" id="table" row-class-name="row" cell-class-name="cell" :data="tableData">
      <el-table-column align="center" prop="created" :label="$t('date')" width="180" />
      <el-table-column align="center" prop="transactionId" :label="$t('idNumber')" width="180" />
      <el-table-column align="center" prop="price" :label="$t('price')" width="180" />
      <el-table-column align="center" prop="volume" :label="$t('volume')" width="180" />
      <el-table-column align="center" :label="$t('status')" width="180">
        <template #default="scope">
          <h3 :class="[scope.row.status, 'status-badge']">{{ scope.row.status }}</h3>
        </template>
      </el-table-column>
      <el-table-column align="center" :label="$t('rating')" width="180">
        <template #default="scope">
          <star-rating style="justify-content: center;" active-color="#0066FE" inactive-color="#1A2466" read-only :show-rating=false :rating="scope.row.rating" :star-size="10" />
        </template>
      </el-table-column>
      <el-table-column align="center" prop="quantity" :label="$t('quantity')" width="90" />
      <el-table-column align="center" prop="origin" :label="$t('origin')" width="90" />
      <el-table-column align="center" prop="documents" :label="$t('documents')" width="180" >
        <template #default="scope">
          <font-awesome-icon icon="cloud-download-alt" style="height: 100%; width: 100%; max-height: 27px; max-width: 27px;" :class="scope"  />
        </template>
      </el-table-column>
    </el-table>
    <div v-if="showTransaction" id="myModal" class="modal" :style="{...(showTransaction ? {display: 'block' } : {display: 'none'})}">
        <div class="package-container">
          <div class="packages" >
            <div id="steps">
              <div class="step">
                <div>
                  <div :class="['circle', created ? 'step-active' : createdCompleted ? 'step-completed' : '']">
                    <font-awesome-icon v-if="created" icon="spinner"/>
                    <font-awesome-icon v-if="createdCompleted" icon="check"/>
                  </div>
                </div>
                <div class="content">
                  <div class="title">Created</div>
                  <div class="caption">Order has been created</div>
                </div>
              </div>
              <div class="step">
                <div>
                  <div :class="['circle', pending ? 'step-active' : pendingCompleted ? 'step-completed' : '']">
                    <font-awesome-icon v-if="pending" icon="spinner"/>
                    <font-awesome-icon v-if="pendingCompleted" icon="check"/>
                  </div>
                </div>
                <div class="content">
                  <div class="title">Pending</div>
                  <div class="caption">Waiting for more required steps to take, such as uploading or approving documents</div>
                </div>
              </div>
              <div class="step">
                <div>
                  <div :class="['circle', shipped ? 'step-active' : shippedCompleted ? 'step-completed' : '']">
                    <font-awesome-icon v-if="shipped" icon="spinner"/>
                    <font-awesome-icon v-if="shippedCompleted" icon="check"/>
                  </div>
                </div>
                <div class="content">
                  <div class="title">Shipped</div>
                  <div class="caption">Order is on the way</div>
                </div>
              </div>
              <div class="step">
                <div>
                    <div :class="['circle', completed ? 'step-completed' : '']">
                      <font-awesome-icon v-if="completed" icon="check"/>
                    </div>
                </div>
                <div class="content">
                  <div class="title">Completed</div>
                  <div class="caption">All done</div>
                </div>
              </div>
              <el-button style="margin-top: 40px;" @click="selectedTransaction = undefined">{{ $t('close') }}</el-button>

            </div>
            <div style="flex: 1">
              <h2>{{ $t('documents')}}</h2>
              <div class="caption">{{ $t('clickToDownload')}}</div>
              <ul style="max-height: 300px; overflow-y: auto; ">
                <li style="padding: 20px"
                  v-for="(file, index) in selectedTransaction?.documents"
                  @click="downloadFile(file.name)"
                  :key="index">
                  <h4 style="cursor: pointer; text-overflow: clip; font-size: 12px; " >{{ file.name }}</h4>
                </li>
              </ul>
            </div>

            <div style="flex: 1">
              <el-upload
                class="upload"
                drag
                action="http://localhost:3000/upload"
                multiple
                :show-file-list="false"
                :body="uploadData"
                :http-request="request"
              >
                <font-awesome-icon icon="cloud-upload-alt" class="el-icon--upload" />
                <div class="el-upload__text">
                  Drop file here or <em>click to upload</em>
                </div>
                <template #tip>
                  <div class="el-upload__tip">
                    <p>upload documents to this transaction</p>
                  </div>
                </template>
              </el-upload>
            </div>
          </div>
        </div>
    </div>
    <v-tour name="transactionTutorial" :steps="tour" :callbacks="callbacks"></v-tour>
    </div>
  </PageContainer>
</template>

<script>
import PageContainer from '@/components/PageContainer'
import SummaryBadge from '@/components/SummaryBadge'
import StarRating from 'vue-star-rating'
import axios from 'axios'
import { mapState } from 'vuex'
import UploadService from '../services/UploadFilesService'
import TransactionsService from '../services/TransactionsService'
const apiLink = process.env.VUE_APP_API_ENDPOINT ?? 'https://oko-api-ezxw6bsbyq-uc.a.run.app'

export default {
  name: 'Transactions',
  components: {
    PageContainer,
    SummaryBadge,
    StarRating
  },
  data() {
    return {
      tableData: [],
      uploadData: null,
      selectedTransaction: undefined,
      tour: [
        {
          target: '[data-v-step="1"]',  // We're using document.querySelector() under the hood
          header: {
            title: 'Summary',
          },
          content: 'See a quick summary of your transactions'
        },
        {
          target: '[data-v-step="2"]',  // We're using document.querySelector() under the hood
          header: {
            title: 'Transactions',
          },
          content: 'See more information on your transactions. Click on one to get more detail or download documents'
        },
      ],
      callbacks: {
        onPreviousStep: this.previousStepCallback,
        onNextStep: this.nextStepCallback,
        onFinish: this.finish,
        onSkip: this.finish
      },
      activeStep: undefined
    }
  },
  async mounted() {
    await this.getTransactions()
  },
  methods: {
    async getTransactions() {
      this.tableData = await TransactionsService.getTransactions(this.userInfo?.companyId, this.userInfo?.companyId === 1 ? 'buyer' : 'seller')
      if (this.userInfo?.tutorialCompleted === false && !this.completedTransactionsTutorial) {
        this.$tours['transactionTutorial'].start()
        this.activeStep = 0
      }
    },
    async request(file) {
      const publicUrl = await UploadService.upload(file.file, uploadData, event => {
      })

      const uploadData = {
        userId: this.userInfo?.id,
        name: file.file.name,
        transactionName: this.selectedTransaction.transactionId,
        publicUrl: publicUrl.data.url
      }
      try {
        const res = await UploadService.saveFilePath(uploadData)

        if (res !== 'success') this.errorText = res
        else this.justUploadedFile=publicUrl.data.url
      } catch (e) {
        this.errorText = e.response.data.error
      } finally {
        const data = await axios.get(`${apiLink}/transaction/documents/${this.selectedTransaction.id}`)
        this.selectedTransaction.documents = data.data?.documents
      }

    },
    logout() {
      this.$store.dispatch('auth/logout')
    },
    hitCloudFunction() {
      this.$store.dispatch('hitCloudFunction')
    },
    rowClick(row) {
      this.selectedTransaction = row
    },
    previousStepCallback (currentStep) {
      this.activeStep = currentStep - 1
      },
    nextStepCallback (currentStep) {
      this.activeStep = currentStep + 1
    },
    finish() {
      this.activeStep = undefined
      this.$store.commit('auth/setCompletedTransactionsTutorial', true)
      this.$store.dispatch('auth/updateUserTutorial', { id: this.userInfo?.id })
    },
    async downloadFile(name) {
      await UploadService.getFile(name)
    },
  },
  computed: {
    userInfo () {
      return this.$store.state.auth.userInfo
    },
    newOrders() {
      return this.tableData.filter(transaction => transaction.status === 'created').length
    },
    processedOrders() {
      return this.tableData.filter(transaction => transaction.status === 'pending').length
    },
    shippedOrders() {
      return this.tableData.filter(transaction => transaction.status === 'shipped').length
    },
    completedOrders() {
      return this.tableData.filter(transaction => transaction.status === 'completed').length
    },
    showTransaction() { return this.selectedTransaction !== undefined },
    status() { return this.selectedTransaction?.status },
    created() { return this.status === 'created'},
    pending() { return this.status === 'pending'},
    shipped() { return this.status === 'shipped'},
    completed() { return this.status === 'completed'},
    createdCompleted() { return this.pending || this.shipped || this.completed },
    pendingCompleted() { return this.shipped || this.completed },
    shippedCompleted() { return this.completed },
    ...mapState({
      completedTransactionsTutorial: state => state.auth.completedTransactionsTutorial
    })
  }
}
</script>

<style lang="scss">

.active {
  border: 1px $tertiary-color solid;
  border-radius: 0.8rem;
  opacity: 1;
  outline: #0096FF solid 2px
}

.section {
  width: 1460px;
  margin-bottom: 30px;
}

.upload {
  margin: 0 10px 0 10px;
}

#table {
  width: 1440px;
  border-radius: 15px;
}

.row {
  align-content: center;
  //background: #101744 !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #5E468A;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.status-badge {
  width: 110px;
  text-align: center;
  margin: auto;
  border-radius: 4px;
  text-transform: uppercase;
  color: $fontSecondary;
}

.shipped {
  background-color: $success-color;
}
.pending {
  background-color: $warning-color;
}
.canceled {
  background-color: $danger-color;
}

.created {
  background-color: purple;
}

.completed {
  background-color: teal
}

.el-table {
  --el-table-border-color: $primary-color !important; // why does this library not make it easy to override? lame
  --el-table-border: 15px solid #0F163F !important; // some of these won't allow variables...
  --el-table-text-color: $fontPrimary !important;
  --el-table-header-text-color: $fontPrimary !important;
  --el-table-row-hover-bg-color: $transparent-color !important;
  --el-table-current-row-bg-color: var(--el-color-primary-light-9);
  --el-table-header-bg-color: #0F163F !important;
  --el-table-fixed-box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
  --el-table-bg-color: #101744 !important;
  --el-table-tr-bg-color: $transparent-color !important;
  --el-table-expanded-cell-bg-color: var(--el-color-white);

}

.el-table tr {
  margin-bottom: 20px !important;
  border: yellow 10px;
}

#myModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  margin-left: 100px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}

.package-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.packages {
  margin: 20px;
  width: 70%;
  padding-bottom: 1.5em;
  height: 100%;
  background-color: $secondary-color;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 19px 38px rgba(30, 35, 33, 1), 0 15px 12px rgba(30, 35, 33, 0.2);
  flex-direction: row
}


.caption {
  font-size: 0.8em;
}

#steps {
  flex: 1;
  padding: 50px 50px 0 50px;
}

.step {
  min-width: 300px;
  justify-content: space-evenly;
  text-align: left;
  margin-bottom: 20px;
}

.step div {
  vertical-align: center;
}


.circle {
  background: gray;
  position: relative;
  margin-top: 5px;
  float: left;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  border-radius: 100%;
  color: #fff;
  text-align: center;
  box-shadow: 0 0 0 3px #fff;
}

.content {
  margin-left: 50px;
}

.step-completed {
  background-color: $success-color;
}
.step-active, .step-active .circle {
  background-color: teal;
}

#v-step-0 {
  position: absolute;
  top: 25%;
  left: 7%;
  width: 57%;
  height: 13%;
}

</style>
