<template>
  <el-header>
    <!--  TODO: put routing stuff in header-->

  </el-header>
  <h1 id="title">{{title}}</h1>
  <el-main id="container">
    <slot />
  </el-main>
</template>

<script>
export default {
  name: 'PageContainer',
  props: {
    title: {
      type: String,
      required: true
    }
  },
  methods: {
    logout() {
      this.$store.dispatch('auth/logout')
    },
    hitCloudFunction() {
      this.$store.dispatch('hitCloudFunction')
    }
  },
  computed: {
    user () {
      return this.$store.state.auth.userAuth?.email ?? ''
    }
  }
}
</script>

<style lang="scss">
#title {
  font-size: $title-font-size;
  text-align: left;
}

#container, #title {
  padding: 20px;
}
</style>
