<template>
  <el-col>
    <div id="container">
      <el-row style="padding: 10px 10px 10px 25px;">
        <el-col :span="17">
          <div style="text-align: left">
            <h1 class="badgeSummaryNumber">{{  summaryMainText }}</h1>
            <p>{{ summarySubText}}</p>
          </div>
        </el-col>
        <el-col :span="7">
          <div id="icon">
            <font-awesome-icon :icon="icon" style="height: 100%; width: 100%; max-height: 54px; max-width: 54px;" />
          </div>
        </el-col>
      </el-row>
    </div>
  </el-col>
</template>

<script>
export default {
  name: 'SummaryBadge',
  props: ['summaryMainText', 'summarySubText', 'icon']
}
</script>

<style lang="scss" scoped>

#container {
  padding: 6px;
  height: 120px;
  border: 2px solid $tertiary-color;
  border-radius: 15px;
}

#icon {
  padding: 15px;
  border-radius: 15px;
  background-color: $tertiary-color;
  height: 100%
}

.badgeSummaryNumber {
  font-size: $title-font-size;
}
</style>
