<template>
  <sidebar-menu
    :menu="menu"
    :show-one-child="true"
    theme="okoTheme"
    v-model:collapsed="collapsed" >
    <template v-slot:header>
      <div style="margin-bottom: 100px; padding: 20px">
        <img v-if="collapsed" alt="Oko logo" src="./assets/okoSmallWhiteNoText.png" style="width: 65px" />
        <img v-else alt="Oko logo" src="./assets/okoSmallWhite.png" />
      </div>
    </template>
  </sidebar-menu>
  <div
    v-if="isOnMobile && !collapsed"
    class="sidebar-overlay"
    @click="collapsed = true"
  />
  <div
    id="appWrapper"
    :class="[{'collapsed' : collapsed}, {'onmobile' : isOnMobile}]"
  >
    <router-view />
  </div>
</template>

<script>
import { defineComponent } from 'vue'
const webIconAttributes = {
  style: 'max-width: 20px; margin-left: 30px'
}
const collapsedIconAttributes = {
  style: 'max-width: 20px; margin: auto'
}
export default defineComponent({
  name: 'App',
  data() {
    return {
      isOnMobile: false,
      collapsed: false
    }
  },
  computed: {
      menu() { return [
        {
          href: '/',
          title: this.$t('dashboard'),
          icon: {
            element: 'font-awesome-icon',
            attributes: {
              ...(this.collapsed ? collapsedIconAttributes : webIconAttributes),
              icon: 'columns'
            }
          }
        },
        {
          href: '/transactions',
          title: this.$t('transactions'),
          icon: {
            element: 'font-awesome-icon',
            attributes: {
              ...(this.collapsed ? collapsedIconAttributes : webIconAttributes),
              icon: 'list'
            }
          }
        },
        {
          href: '/documents',
          title: this.$t('documents'),
          icon: {
            element: 'font-awesome-icon',
            attributes: {
              ...(this.collapsed ? collapsedIconAttributes : webIconAttributes),
              icon: 'file-alt'
            }
          }
        }
      ] },
  },
  mounted () {
    this.onResize()
    window.addEventListener('resize', this.onResize)
  },
  methods: {
    onResize () {
      if (window.innerWidth <= 767) {
        this.isOnMobile = true
        this.collapsed = true
      } else {
        this.isOnMobile = false
        this.collapsed = false
      }
    }
  }
})
</script>

<style lang="scss">
@import '@/scss/base.scss';

#app {
  font-family: Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

img {
  max-width: 100%
}

#appWrapper {
  padding-left: 290px;
  transition: 0.3s ease;
  background-color: $secondary-color;
  height: 100%;
  width: 100%;
}
#appWrapper.collapsed {
  padding-left: 65px;
}
#appWrapper.onmobile {
  padding-left: 65px;
}

.page {

}
.sidebar-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: 900;
}
.demo {
  padding: 50px;
}
</style>
