@import 'base/reset';
@import 'base/form';
@import 'base/general';
@import 'utilities/utilities';
@import 'animations/animations';


// NEEDS REORGANIZED AS WE GROW TO USE ALL THE FOLDERS



.v-sidebar-menu.vsm_okoTheme {
  background-color: $base-bg-side-menu;
  .vsm--link {
    color: $item-color-side-menu;
    &_active {
      color: $item-active-color-side-menu;
      background-color: $item-active-bg-side-menu;
    }
    &_level-1 {
      &.vsm--link_active {
        box-shadow: 3px 0px 0px 0px $primary-color-side-menu inset;
        & .vsm--icon {
          color: $icon-active-color-side-menu;
          background-color: $icon-active-bg-side-menu;
        }
      }
      & .vsm--icon {
        background-color: $icon-bg-side-menu;
      }
    }
    &_hover {
      color: $item-hover-color-side-menu;
      background-color: $item-hover-bg-side-menu;
    }
    &_mobile {
      color: $mobile-item-color-side-menu;
    }
  }

  &.vsm_expanded {
    .vsm--link_level-1 {
      &.vsm--link_open {
        color: $item-open-color-side-menu;
        background-color: $item-open-bg-side-menu;
        & .vsm--icon {
          color: $icon-open-color-side-menu;
          background-color: $icon-open-bg-side-menu;
        }
      }
    }
  }

  &.vsm_collapsed {
    .vsm--link_level-1 {
      &.vsm--link_hover {
        .vsm--icon {
          color: $mobile-icon-color-side-menu;
          background-color: $mobile-icon-bg-side-menu;
        }
      }
    }
  }

  .vsm--icon {
    color: $icon-color-side-menu;
  }

  .vsm--dropdown {
    background-color: $dropdown-bg-side-menu;
    & .vsm--link {
      color: $dropdown-color-side-menu;
    }
    & .vsm--icon {
      color: $dropdown-color-side-menu;
    }
  }

  .vsm--mobile-bg {
    background-color: $mobile-item-bg-side-menu;
  }

  &.vsm_rtl {
    .vsm--link_level-1.vsm--link_active {
      box-shadow: -3px 0px 0px 0px $primary-color-side-menu inset;
    }
  }

  .vsm--header {
    color: rgba($item-color-side-menu, 0.7);
  }
  .vsm--badge_default {
    color: $item-color-side-menu;
    background-color: darken( $base-bg-side-menu, 5% );
  }
  .vsm--toggle-btn {
    color: $item-color-side-menu;
    background-color: darken( $base-bg-side-menu, 5% );
  }
}


body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  background-color: $secondary-color;
  color: $fontPrimary;
}

@import 'vue-sidebar-menu/src/scss/vue-sidebar-menu.scss';
@import "element-plus/theme-chalk/src/index.scss";


