$black: #000;
$white: #fff;
$grey-darker: #111;
$grey-dark: #333;
$grey: #999;
$grey-light: #ccc;
$grey-lighter: #f5f5f5;
$gold: #ac955f;
$blue: #2196f3;
$success: #4caf50;
$error: #ff5252;
$warning: #ffc105;
$disabled: #aaa;

$primary-color: #0F163F;
$secondary-color: #121B4F;
$tertiary-color: #0E2A72;
$fontPrimary: #ECEDF0;
$fontSecondary: #F2F2F5;
$transparent-color: rgba(0, 0, 0, 0);
$title-font-size: 28px;

$success-color: #29CC97;
$warning-color: #FEC400;
$danger-color: #DB0337;

$colors: (
        'primary': (
                'base': green,
        ),
);

$dashboard-background: $secondary-color;

$primary-color-side-menu: #0C48AD;
$base-bg-side-menu: $primary-color;

$item-color-side-menu: #fff;

$item-active-color-side-menu: #EDEDF0;
$item-active-bg-side-menu: #1C2248;

$item-open-color-side-menu: null;
$item-open-bg-side-menu: null;

$item-hover-color-side-menu: null;
$item-hover-bg-side-menu: #1C2248;

$icon-color-side-menu: AFAFAF;
$icon-bg-side-menu: rgba(0, 0, 0, 0) ;

$icon-active-color-side-menu: null;
$icon-active-bg-side-menu: rgba(0, 0, 0, 0);

$icon-open-color-side-menu: AFAFAF;
$icon-open-bg-side-menu: $item-open-bg-side-menu;

$mobile-item-color-side-menu: #fff;
$mobile-item-bg-side-menu: $base-bg-side-menu;
$mobile-icon-color-side-menu: $mobile-item-color-side-menu;
$mobile-icon-bg-side-menu: $mobile-item-bg-side-menu;

$dropdown-bg-side-menu: lighten( $base-bg-side-menu, 5% );
$dropdown-color-side-menu: null;

$item-font-size-side-menu: 16px;
$item-line-height-side-menu: 30px;
$item-padding-side-menu: 10px 15px;
$icon-height-side-menu: 35px;
$icon-width-side-menu: 35px;
